<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Prompt:200&display=swap" rel="stylesheet">
<app-header></app-header>
<p-tabView>
    <p-tabPanel header="เพิ่มเอกสาร" [closable]="true">
        
    </p-tabPanel>
    <p-tabPanel header="เพิ่มผู้มีสิทธิ์ใช้" [closable]="true">
        <div style="text-align: center;">
            <button type="button" class="btn btn-secondary" style="width: 30%; font-size: 15px; ">เพิ่มผู้มีสิทธิ์ใช้</button><br>
            <br>
            นายประยุทธ์ จันทร์โอชา รักนะจุ๊บๆ คิดถึงที่สุดเลย รีบๆตายนะ เพื่อนๆรออยู่ในนรกเยอะแยะ
            <button type="button" class="btn btn-secondary" style="width: 5%; font-size: 15px; ">ลบ</button><br><br>
            นายประวิทย์ วงสุวรรณ
            <button type="button" class="btn btn-secondary" style="width: 5%; font-size: 15px; ">ลบ</button>
        </div>
    </p-tabPanel>
    <p-tabPanel header="เพิ่มหัวเอกสาร" [selected]="true">
        <form style="text-align: center;">
            <div class="form-group">
               <input type="email" class="form-control" placeholder="เลขเอกสาร" name="Userid">
            </div> 
            <div class="form-group">
               <input type="email" class="form-control" placeholder="ที่มาของเอกสาร" name="Email">
            </div> 
            <div class="form-group">
               <!-- <input type="password" class="form-control" placeholder="วันที่ของเอกสาร" name="Password"> -->
               <p-dropdown [options]="date" >
                <!-- [(ngModel)]="selectddate"  -->
               placeholder="Select date" optionLabel="name" [showClear]="true"></p-dropdown>
                <!-- <p>Selected City: {{selectedCity ? selectedCity.name : 'none'}}</p> -->
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="ชื่อเรื่อง" name="firstname">
           </div>
           <div class="form-group">
              <input type="text" class="form-control" placeholder="ส่งถึง" name="lastname">
           </div>
           <div class="form-group">
            <input type="text" class="form-control" placeholder="อ้างถึง" name="lastname">
         </div>
            <button type="button" class="btn btn-secondary" style="width: 30%; font-size: 15px; ">เพิ่มหัวเอกสาร</button><br>
         </form>
    </p-tabPanel>
</p-tabView>
<app-footer></app-footer>