<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Prompt:200&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text fontthai " style="text-align: center;" >
            <img src="../../assets/top1.jpg" alt="" width="85%">
          
         </div>
      </div>
      <div class="main">
         <div class="col-md-12 col-sm-6">
            <div class="login-form ">
               <form>
                  <div class="form-group">
                     <label>Userid</label>
                     <input type="email" class="form-control" placeholder="Email" [(ngModel)]="this.Userid" name="Userid">
                  </div> 
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" class="form-control" placeholder="Email" [(ngModel)]="this.Email" name="Email">
                  </div> 
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" [(ngModel)]="this.Password" name="Password">
                  </div>
                  <div class="form-group">
                    <label>Firstname</label>
                    <input type="text" class="form-control" placeholder="Firstname" [(ngModel)]="this.firstname" name="firstname">
                 </div>
                 <div class="form-group">
                    <label>Lastname</label>
                    <input type="text" class="form-control" placeholder="Lastname" [(ngModel)]="this.lastname" name="lastname">
                 </div>
                 <div class="ui-g" style="width:250px;margin-bottom:10px">
                  <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Male" [(ngModel)]="val1" inputId="opt1"></p-radioButton></div>
                  <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Female 2" [(ngModel)]="val1" inputId="opt2"></p-radioButton></div>
                  
              </div>
                  <button (click)="Signup()" type="submit" class="btn btn-black">Register</button>&nbsp;&nbsp;
                  
               </form>
            </div>
         </div>
      </div>