<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Prompt:200&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text fontthai " style="text-align: center;" >
            <img src="../../assets/top1.jpg" alt="" width="85%">
          
         </div>
      </div>
      <div class="main">
         <div class="col-md-12 col-sm-6">
            <div class="login-form ">
               <h1>Register</h1><br>
               <form class="needs-validation">
                  <div class="form-group">
                     <label>Userid</label>
                     <input type="email" class="form-control" placeholder="Email" [(ngModel)]="this.Userid" name="userid" id= "userid" required>
                  </div> 
                  <div class="form-group">
                     <label for="validationCustom01">Email</label>
                     <input type="email" class="form-control" placeholder="Email" [(ngModel)]="this.Email" name="Email" id= "validationCustom01"required>
                  </div> 
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" [(ngModel)]="this.Password" name="Password" id= "Password"required>
                  </div>
                  <div class="form-group">
                    <label>Firstname</label>
                    <input type="text" class="form-control" placeholder="Firstname" [(ngModel)]="this.firstname" name="firstname"id= "firstname"required>
                 </div>
                 <div class="form-group">
                    <label>Lastname</label>
                    <input type="text" class="form-control" placeholder="Lastname" [(ngModel)]="this.lastname" name="lastname"id= "lastname"required>
                 </div>
                  <div class="ui-g" style="width:250px;margin-bottom:10px">
                     <div class="ui-g-6"><p-radioButton name="group1" value="ชาย" label="ชาย" [(ngModel)]="gender" inputId="opt1"></p-radioButton></div>
                     <div class="ui-g-6"><p-radioButton name="group1" value="หญิง" label="หญิง" [(ngModel)]="gender" inputId="opt2"></p-radioButton></div>
                  </div>
                  <br>
                  <button (click)="Signup()" type="submit" class="btn btn-black" >Register</button>&nbsp;&nbsp;
                  
               </form>
            </div>
         </div>
      </div>