 input {
    width: 100%;
  }
 /* .icon{
    font-size: 16px !important;
} */
/*
  .p-grid {
      text-align: center;
  }

  .p-grid i {
      vertical-align: middle;
      padding-right: 5px;
      font-size: 2em;
  }
   
  .p-grid .icon-container:hover {
      background-color: #EFF3F6;
      cursor: pointer;
  }
   
  .dark-content .p-grid .icon-container:hover {
      background-color: #5e6061;
  }
   
  .iconInfo {
      background-color: #30383c;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 260px;
      color: #ffffff;
      padding: 0 10px 5px;
      display: none;
      webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      z-index: 999999;
  }
   
  .iconInfo .iconInfo-header {
      position: relative;
      border-bottom: 1px solid #e3e9ea;
      padding: 5px;
  }
   
  .iconInfo .iconInfo-close {
      position: absolute;
      right: 5px;
      color: #5e6061;
  }
   
  .iconInfo .icon-text {
      padding-top: 5%;
      padding-bottom: 2%;
      font-size: 13px;
  }
   
  .iconInfo .icon-sample-input {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 5px;
  }
   
  .iconInfo .icon-sample-input + i {
      text-align: center;
      display: block;
      font-size: 30px;
  }
   
  .iconInfo .copied-text {
      display: none;
      position: absolute;
      right: 30px;
      top: 7px;
      color: #1b82d7;
      font-weight: bold;
  } */
