<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Prompt:200&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->
<app-header></app-header>
<p-tabView>
   
   <p-tabPanel header="โปรไฟล์ของฉัน">
      <div class="main">
         <div class="col-md-12 col-sm-6">
            <div >
                <h1>My Profile</h1>
                <br>
               <form>
                  <div class="form-group">
                     <label>Userid</label>
                     <input type="text" class="form-control" placeholder="Userid" [(ngModel)]="this.Userid" name="userid" readonly>
                  </div> 
                  <div class="form-group">
                     <label>Email</label>
                     <input type="text" class="form-control" placeholder="Email" [(ngModel)]="this.Email" name="email" readonly>
                  </div> 
                  <div class="form-group">
                    <label>Firstname</label>
                    <input type="text" class="form-control" placeholder="Firstname" [(ngModel)]="this.firstname" name="firstname">
                 </div>
                 <div class="form-group">
                    <label>Lastname</label>
                    <input type="text" class="form-control" placeholder="Lastname" [(ngModel)]="this.lastname" name="lastname">
                 </div>
                  <div class="ui-g" style="width:250px;margin-bottom:10px">
                     <div class="ui-g-12"><p-radioButton name="group1" value="ชาย" label="ชาย" [(ngModel)]="gender" inputId="opt1"></p-radioButton></div>
                     <div class="ui-g-12"><p-radioButton name="group1" value="หญิง" label="หญิง" [(ngModel)]="gender" inputId="opt2"></p-radioButton></div>
                     
                  </div>
                  <button (click)="EditProfile()" type="submit" >บันทึก</button>&nbsp;&nbsp;
                  
               </form>
            </div>
         </div>
      </div>
   </p-tabPanel>
   <p-tabPanel header="เปลี่ยนรหัสผ่าน">
      <div class="main">
         <div class="col-md-12 col-sm-6">
            <div >
                <h1>Change Password</h1>
                <br>
               <form>
                  <div class="form-group">
                    <label>รหัสผ่านเดิม</label><br>
                    <input [type]="show ? 'text' : 'password'" class="form-control-lg" placeholder="รหัสผ่านเดิม" [(ngModel)]="this.OldPassword" name="OldPassword">&nbsp;
                    <button (click)="newpassword()" type="password" class="btn btn-black" style="color: black; font-size: 30px;" > <i class="pi pi-eye-slash"></i></button>
                  </div>
                 <div class="form-group">
                    <label>รหัสผ่านใหม่</label> <br>
                    <input [type]="show ? 'text' : 'newpassword'" class="form-control-lg" placeholder="รหัสผ่านใหม่" [(ngModel)]="this.NewPasssword" name="NewPassword">&nbsp;
                    <button (click)="newpassword()" type="password" class="btn btn-black" style="color: black; font-size: 30px;" > <i class="pi pi-eye-slash"></i></button>
                  </div>

                  <button (click)="ChangePassword()" type="submit" class="btn btn-dark" style="color: whitesmoke;">บันทึก</button>&nbsp;&nbsp;

                  
               </form>
            </div>
         </div>
      </div>
   </p-tabPanel>
</p-tabView>



<app-footer></app-footer>