<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

<div class="ui-g" style="margin-top: 2%; text-align: center;">
  <div class="ui-g-4" style="text-align: center;">
    
      <button type="button" (click)= "showBasicDialog()" pButton icon="pi pi-plus" label="เพิ่มผู้ป่วยใหม่"></button>
      <p-dialog  header="เพิ่มผู้ป่วยใหม่" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <div _ngcontent-uhe-c1="" class="row top-buffer" [style]="{height: '15vw'}">
          <div _ngcontent-uhe-c1="" 
          class="col-sm-4 align-self-center"> ชื่อ-นามสกุล </div><div _ngcontent-uhe-c1="" class="col-sm-8">
          <input _ngcontent-uhe-c1="" pinputtext="" style=" width: 100%" type="text" 
          class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"
          [(ngModel)]="Name">
          </div>
        </div>
        <div _ngcontent-uhe-c1="" class="row top-buffer">
          <div _ngcontent-uhe-c1="" 
          class="col-sm-4 align-self-center"> เพศ </div>
          <div _ngcontent-uhe-c1="" class="col-sm-8">
            <p-dropdown [options]="genders" 
            [(ngModel)]="gender" placeholder="เพศ"  [showClear]="false"></p-dropdown>
          </div>
        </div>

        <div _ngcontent-uhe-c1="" class="row top-buffer">
          <div _ngcontent-uhe-c1="" 
          class="col-sm-4 align-self-center"> อาชีพ </div><div _ngcontent-uhe-c1="" class="col-sm-8">
          <input _ngcontent-uhe-c1="" pinputtext="" style=" width: 100%" type="text" 
          class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"
          [(ngModel)]="Career">
          </div>
        </div>
        <div _ngcontent-uhe-c1="" class="row top-buffer">
          <div _ngcontent-uhe-c1="" 
          class="col-sm-4 align-self-center"> วันที่พบ </div><div _ngcontent-uhe-c1="" class="col-sm-8">
          <p-calendar [(ngModel)]="date"  [locale]="en"></p-calendar>
          </div>
        </div>
        <div _ngcontent-uhe-c1="" class="row top-buffer" >
          <div _ngcontent-uhe-c1="" 
          class="col-sm-4 align-self-center"> เวลา </div><div _ngcontent-uhe-c1="" class="col-sm-8">
          <!-- <input _ngcontent-uhe-c1="" pinputtext="" style=" width: 100%" type="text" 
          class="ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"> -->
          <p-calendar [(ngModel)]="time" [timeOnly]="true"></p-calendar>
          
          </div>
        </div>
        <div _ngcontent-uhe-c1="" class="row top-buffer">
          <div _ngcontent-uhe-c1="" 
          class="col-sm-4 align-self-center"> จังหวัด </div>
          
          <div _ngcontent-uhe-c1="" class="col-sm-8">
            <p-dropdown [options]="provinces" 
            [(ngModel)]="province" placeholder="กรุงเทพมหานคร"  [showClear]="false"></p-dropdown>
          
          </div>
        </div>
          <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="displayBasic=false" label="เพิ่มผู้ป่วยใหม่" (click)="AddCovid()"></button>
          </p-footer>
      </p-dialog>
  </div>
  <div class="ui-g-4">แสดงสถานะผู้ป่วย
    <p-dropdown [options]="statues" 
    [(ngModel)]="status" placeholder="ทั้งหมด"  [showClear]="false"></p-dropdown>
  </div>
  <div class="ui-g-4">แบ่งผลการแสดง
    <p-dropdown [options]="records" 
    [(ngModel)]="record" placeholder="3"  [showClear]="false"></p-dropdown>
    <br><br>
  </div>  
</div>  
    <p-dataView #dv [value]="covids" [paginator]="true" [rows]="record" paginatorPosition="bottom" filterBy="Status" >
        <p-header >
            <input type="search" style="width: 100%;height: 35px;" [(ngModel)]="status" (input)="dv.filter($event.target.value)">
            <div class="ui-g" >
                <div class="ui-g-1">ลำดับที่</div>
                <div class="ui-g-2">ชื่อ-นามสกุล</div>
                <div class="ui-g-1">เพศ</div>
                <div class="ui-g-1">อาชีพ</div>
                <div class="ui-g-1">จังหวัด</div>
                <div class="ui-g-1">วันที่พบ</div>
                <div class="ui-g-1">เวลาที่พบ</div>
                <div class="ui-g-2">สถานะปัจจุบัน</div>
                <div class="ui-g-2">ลบข้อมูล</div>
            </div>
        </p-header>
         <!-- *ngFor="let covid of covids; let i = index;" -->
        <ng-template let-covid pTemplate="listItem" >
            <div class="covid-details" >
                    <div class="ui-g">
                        <div class="ui-g-1">{{covid.Id}}</div>
                        <div class="ui-g-2">{{covid.Name}}</div>
                        <div class="ui-g-1">{{covid.Gender}}</div>
                        <div class="ui-g-1">{{covid.Career}}</div>
                        <div class="ui-g-1">{{covid.Province}}</div>
                        <div class="ui-g-1">{{covid.Date}}</div>
                        <div class="ui-g-1">{{covid.Time}}</div>
                        <div class="ui-g-2">{{covid.Status}}
                            <i  class="pi pi-pencil" type = "button" (click)="showUpdateDialog(covid.Id,covid.Status)"></i>
                            <p-dialog header="เปลี่ยนสถานะ" [(visible)]="UpdateDialog" [style]="{width : '20vw'}" [baseZIndex]="10000">
                               <p-footer>
                               <p-dropdown [options]="statues" [(ngModel)]="UpdateStatus" [showClear]="false"></p-dropdown><br><br>
                               <button (click)="UpdateCovid()" type="button" pButton icon="pi pi-check" (click)="UpdateDialog=false" label="Yes" ></button>
                               </p-footer>
                           </p-dialog>
                        </div>
                        <div class="ui-g-2"><button  type="button" 
                            class="btn btn-secondary " style="font-size: 15px;" 
                            (click)="showDeleteDialog(covid.Id)">ลบ</button>  
                            <p-dialog header="Confirmation" [(visible)]="DeleteDialog" [style]="{width: '20vw'}" [baseZIndex]="10000">
                              <div >   
                                 <p>ยืนยันการลบข้อมูลผู้ป่วย?</p>
                              </div>
                              <p-footer>
                              <button (click)="DeleteCovid()" type="button" pButton icon="pi pi-check" (click)="DeleteDialog=false" label="Yes" ></button>
                              <button type="button" pButton icon="pi pi-times" (click)="DeleteDialog=false" label="No" class="ui-button-secondary"></button>
                              </p-footer>
                          </p-dialog>
                        </div>
                    </div>
            </div>
        </ng-template>
    </p-dataView>


