<div >
    <p>แสดงข้อมูลผู้ป่วย</p>
    <p-dropdown [options]="statues" [(ngModel)]="status" placeholder="ทั้งหมด" [virtualScroll]="true" [itemSize]="4" [filter]="false"
    ></p-dropdown>
    <p>แบ่งการแสดงผล</p>
    <p-dropdown [options]="records" [(ngModel)]="record" placeholder="3" [virtualScroll]="true" [itemSize]="3" [filter]="false"></p-dropdown>
    <br><br>
    <p-dataView #dv [value]="covids" [paginator]="true" [rows]="record" paginatorPosition="bottom" filterBy="Status" >
        <p-header >
            <table class="table" >
                   <tr>
                     <th>ลำดับที่</th>
                     <th>ชื่อ-นามสกุล</th>
                     <th>เพศ</th>
                     <th>อาชีพ</th>
                     <th>จังหวัด</th>
                     <th>วันที่พบ</th>
                     <th>เวลาที่พบ</th>
                     <th>สถานะปัจจุบัน</th>
                     <th>ลบข้อมูล</th>
                   </tr>
            </table>
        </p-header>
        <!-- *ngFor="let i = index;" -->
        <ng-template let-covid pTemplate="listItem" >
            <div class="covid-details" >
                <table class="table">
                    <tbody>
                        <tr>
                           <th scope="row"></th>
                           <td>{{covid.Name}}</td>
                           <td>{{covid.Gender}}</td>
                           <td>{{covid.Career}}</td>
                           <td >{{covid.Province}}</td>
                           <td >{{covid.Date}}</td>
                           <td >{{covid.Time}}</td>
                           <td >{{covid.Status}}
                             <i  class="pi pi-pencil" type = "button"></i>
                           </td>
                           <td>
                              <button  type="button" 
                              class="btn btn-secondary " style="font-size: 15px;" >ลบ</button> 
                           </td>    
                        </tr>   
                    </table>
            </div>
            

        </ng-template>
    </p-dataView>
</div>  
