<div class="but"  class="py-4 bg-dark text-white-50">
    &nbsp; 
    <button (click)="Home()" type="submit" class="btn btn-secondary" style="color: whitesmoke;">Home</button>&nbsp;
    <button (click)="Profile()" type="submit" class="btn btn-secondary" style="color: whitesmoke;">Profile</button>&nbsp;
     
    <!-- <i  type="button" class="pi pi-sign-out" style="font-size:50px; margin-left:72%;" ></i> -->
    <button (click)="Logout()" type="submit" class="btn btn-danger" style="color: whitesmoke; margin-left:80%;">Log Out</button>&nbsp;

</div>
