<div class="but"  class="py-4 bg-dark text-white-50" >
    &nbsp; 
    <!-- <button (click)="Home()" type="submit" class="btn btn-black">Home</button>&nbsp;&nbsp;
    <button (click)="profile()" type="submit" class="btn btn-black">Profile</button>&nbsp;&nbsp; -->
    <!-- <button (click)="Signup()" type="submit" class="btn btn-black">Click</button>&nbsp;&nbsp; -->
   
    <!-- <p-button label="Profile" ></p-button>&nbsp;  
    <p-button label="Click" ></p-button>&nbsp; 
    <p-button label="Click" ></p-button>&nbsp;  -->
    
</div>
