<div class="but"  class="py-4 bg-dark text-white-50">
    &nbsp; 
    <button (click)="Home()" type="submit" class="btn btn-black" style="color: whitesmoke;">Home</button>&nbsp;
    <button (click)="Profile()" type="submit" class="btn btn-black" style="color: whitesmoke;">Profile</button>&nbsp;
    <!-- <button (click)="cabinet()" type="submit" class="btn btn-black" style="color: whitesmoke;">File cabinet</button>&nbsp;
    <button (click)="document()" type="submit" class="btn btn-black" style="color: whitesmoke;">Document</button>&nbsp; -->
     
    <i  type="button" class="pi pi-sign-out" style="font-size:50px; margin-left:72%;" >
    
    </i>

</div>
